<form ng-submit="onLogin($event)">
  <h4 class="form-header">LOGIN</h4>
  <div class="form-group">
    <p>Username or Email</p>
    <input class="input" type="email" placeholder="Email" ng-model="loginObj.email">
  </div>
  <div class="form-group">
    <p>Password</p>
    <input class="input" type="password" placeholder="Password" ng-model="loginObj.password">
  </div>
  <div class="form-group submit-btn">
    <button class="button" type="submit">Login</button>
  </div>
</form>