<form ng-submit="onSubmit()">
  <h4 class="form-header">SIGNUP</h4>
  
  <div class="form-group">
    <p>First Name</p>
    <input class="input" type="text" ng-model="formParams.firstName" ng-change="validateForm()" required placeholder="Your first name">
  </div>
  
  <div class="form-group">
    <p>Last Name</p>
    <input class="input" type="text" ng-model="formParams.lastName" ng-change="validateForm()" required placeholder="Your last name">
  </div>
  
  <div class="form-group">
    <p>Phone Number</p>
    <input class="input" type="tel" ng-model="formParams.phone" ng-change="validateForm()" required placeholder="Your mobile no">
  </div>

  <div class="form-group">
    <p>Gender</p>
    <select class="input" ng-model="formParams.gender" ng-change="validateForm()">
      <option disabled>Selct Gender</option>
      <option value="Male">Male</option>
      <option value="Female">Female</option>
    </select>
  </div>

  <div class="form-group">
    <p>Email</p>
    <input class="input" type="email" ng-model="formParams.email" ng-change="validateForm()" required placeholder="Your email address">
  </div>

  <div class="form-group">
    <p>Password</p>
    <input class="input" type="password" ng-model="formParams.password" ng-change="validateForm()" required placeholder="Choose a password">
  </div>

  <div class="form-group">
    <p>Repeat Password</p>
    <input class="input" type="password" ng-model="formParams.rePassword" ng-change="validateForm()" required placeholder="Re enter above password">
  </div>

  <div class="form-group submit-btn">
    <p class="form-error-message" ng-bind="formErrorString"></p>
    <button class="button" type="submit">Signup</button>
  </div>
</form>