* {
  box-sizing: border-box;
}

body {
  font: 16px/1.4em Arial;
  margin: 0px;
  padding-top: 50px;
}

main {
  padding: 10px;
}

.button,
.input {
  height: 30px;
  width: 100%;
}

.button {
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
}

.button,
.input {
  border-radius: 20px;
  height: 40px;
}

.input {
  padding-left: 10px;
  border: 1px solid #aaa;
  background: #fff;
}

.nav-bar {
  position: fixed;
  top: 0px;
  width: 100%;
  left: 0px;
  background: #fff;
}

.nav-bar ul {
  padding-left: 0px;
  margin: 0px;
  border-bottom: 1px solid #eee;
  display: flex;
}

.nav-bar ul li {
  display: block;
  float: left;
  background: #f7f7f7;
  border-bottom: 1px solid #eee;
  margin-bottom: -2px;
}

.nav-bar ul li.active {
  background: #fff;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: none;
}

.nav-bar ul li a {
  color: inherit;
  text-decoration: none;
  font-size: 14px;
  padding: 11px 13px;
  display: block;
  text-transform: uppercase;
}

form .form-header {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
  text-decoration: underline;
}

form .form-group {
  display: inline-block;
  width: 100%;
  margin-bottom: 15px;
}

form .form-group > p {
  padding-left:10px;
  margin-bottom: 2px;
}

form .submit-btn {
  margin-top: 20px;
}

form .form-error-message {
  color: red;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: unset;
}